README.txt
LIFO/out/
LIFO/.idea/
!LIFO/.idea/modules.xml
List/README.txt
List/out/
List/.idea/description.html
List/.idea/misc.xml
List/.idea/project-template.xml
List/.idea/vcs.xml
List/.idea/workspace.xml
Hometask_3.1/out/
Hometask_3.1/.idea/description.html
Hometask_3.1/.idea/misc.xml
Hometask_3.1/.idea/project-template.xml
Hometask_3.1/.idea/vcs.xml
Hometask_3.1/.idea/workspace.xml
.gitignore